h5 {
  margin-bottom: 10px;
}

div.van-switch {
  font-size: 25px!important;
}

.ivu-select-selection{
  height: 27px!important;
  padding-top: 2px!important;
}

div.board {
  margin-left: 10px;margin-right: 10px;padding-right: 10px;
}

td {
  overflow: hidden!important;
  text-overflow:ellipsis!important;
  white-space: nowrap!important;
  max-width: 10em!important;
}

.ivu-input-disabled {
  background-color: #ffffff!important;
}

td[aria-colindex] {
  padding-right: 4px!important;
  padding-left: 4px!important;
}
